/*  Background love: https://www.svgbackgrounds.com/  */
:root {
  --accent-color: rgb(43, 184, 43);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: black;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  color: #fff;
}

.score-box {
  position: absolute;
  background-color: var(--accent-color);
  right: 0;
  padding: 5px 15px 8px 15px;
  border-radius: 0 0 0 20px;
  color: #fff;
  text-align: center;
  z-index: 10;
}

.turns {
  font-size: 0.8rem;
}

.score {
  font-size: 2rem;
}

.container {
  width: 100vw;
  height: 95vh;
  display: grid;
  place-content: center;
}

form {
  display: flex;
  margin: 0 auto;
  align-items: center;
  color: #fff;
}

.toggle {
  position: relative;
  margin: 25px 10px;
}

.checkbox {
  display: none;
}

.checkbox-label {
  display: block;
  width: 45px;
  height: 25px;
}

.checkbox-label::before,
.checkbox-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}

.checkbox-label::before {
  width: 100%;
  height: 100%;
  /* background-color: #dedede; */
  background: linear-gradient(to right, rgb(91, 102, 202), rgb(141, 115, 221));
  border-radius: 1em;
  transition: background-color 250ms ease;
}

.checkbox-label::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  transition: left 250ms ease;
}

.checkbox:checked + .checkbox-label::before {
  background: linear-gradient(to top, rgb(181, 26, 0), rgb(227, 0, 79));
}

.checkbox:checked + .checkbox-label::after {
  left: 50%;
}

.board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  place-content: center;
}

.card {
  position: relative;
  width: 200px;
  height: 200px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 5px 5px 10px -5px rgba(0 0 0 / 40%);
  cursor: pointer;
}

.flipped {
  transform: rotateY(180deg);
}

.card-back,
.card-front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: linear-gradient(to right, rgb(91, 102, 202), rgb(141, 115, 221));
}

.card-front {
  transform: rotateY(180deg);
}

img {
  width: 100px;
}

button {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  margin: 25px auto 0 auto;
  cursor: pointer;
  filter: drop-shadow(5px 5px 8px rgba(0 0 0 / 20%));
}

button:hover {
  background-color: rgb(44, 204, 44);
  box-shadow: inset 2px 2px 5px rgba(0 0 0 / 15%);
}

.hide {
  animation: hide 250ms linear forwards 700ms;
}

.match-visual {
  border: 10px dashed var(--accent-color);
}

.hard-color {
  background: linear-gradient(to top, rgb(161, 10, 202), rgb(205, 39, 251));
  background: linear-gradient(to right, rgb(181, 26, 0), rgb(227, 0, 79));
}

@keyframes hide {
  to {
    transform: scale(0);
  }
}

.score-history-container {
  border: 5px solid black;
  border-image-source: linear-gradient(
    to right,
    rgb(91, 102, 202),
    rgb(141, 115, 221)
  );
  border-image-slice: 1;
  width: 50vw;
  min-width: 325px;
  margin: 25px auto;
  padding: 20px 50px;
}

h1 {
  text-align: center;
}

header {
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin: 8px auto;
  padding: 8px 0;
  background: #fff;
  color: #000;
  border-radius: 20px;
}

.score-display {
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin: 0 auto;
  padding: 15px 0;
  border-bottom: 1px dotted rgb(255 255 255 / 60%);
}

.score-display:last-child {
  border-bottom: none;
}

@media (pointer: coarse) and (min-width: 400px) {
  .container {
    transform: scale(0.9);
  }

  .board {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 400px) {
  .container {
    height: 80vh;
  }
  .board {
    grid-gap: 7px;
  }

  .card {
    width: 75px;
    height: 75px;
    border-radius: 15px;
  }

  .card-back {
    border-radius: 15px;
  }

  img {
    width: 50px;
  }

  .match-visual {
    border: 5px dashed var(--accent-color);
  }
}
