footer {
  position: relative;
  @extend .flex-column;
  justify-content: space-around;
  width: 100vw;
  height: 225px;
  padding: 50px;
  background: var(--accent-color);
  color: black;
  margin-top: 175px;
  line-height: 150%;
  z-index: 10;
}

.footer-shape {
  position: absolute;
  top: -85px;
  width: 100vw;
  height: 100px;
  background-image: url(../img/footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-buttons {
  @extend .flex-row;
  width: 150px;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  transition: transform 100ms;
  background: url("../img/contact-icons.svg") no-repeat;
  background-size: cover;
}

.icon:hover {
  transform: scale(1.05) translateY(-1px);
}

.twitter-icon {
  background-position: -1px 0px;
}

.github-icon {
  background-position: -37px 0px;
  width: 31px;
}

.email-icon {
  background-position: -75px 0px;
}
