.score-box {
  position: absolute;
  background: var(--easy-gradient);
  top: 0;
  right: 0;
  padding: 8px 15px;
  border-radius: 0 0 0 20px;
  color: #fff;
  text-align: center;
  z-index: 10;
}

.turns {
  font-size: 0.8rem;
}

.score {
  font-size: 2rem;
  font-weight: bold;
}
